@model Pagination<Owner>

@{
    ViewBag.Title = "Владельцы";
}
<form asp-action="PassportCreateNext" method="get">
    <div class="form-actions no-color">
        <p>
            <b>Фамилия:</b> <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="hidden" name="name" value="@ViewBag.pet.Name" />
            <input type="hidden" name="kind" value="@ViewBag.pet.Kind" />
            <input type="hidden" name="breed" value="@ViewBag.pet.Breed" />
            <input type="hidden" name="dob" value="@ViewBag.pet.DOB" />
            <input type="hidden" name="sex" value="@ViewBag.pet.Sex" />
            <input type="submit" value="Поиск" class="btn btn-outline-secondary" />
            |
            <a asp-action="PassportCreateNext"  asp-route-name="@ViewBag.pet.Name"
                        asp-route-breed="@ViewBag.pet.Breed"
                        asp-route-kind="@ViewBag.pet.Kind"
                        asp-route-dob="@ViewBag.pet.DOB"
                        asp-route-sex="@ViewBag.pet.Sex" >Обратно к списку</a> 
        </p>
    </div>
</form>
@*input type="hidden" name="name" name="@ViewBag.pet.Name" />
            <input type="hidden" name="bread" name="@ViewBag.pet.Bread" />
            <input type="hidden" name="kind" name="@ViewBag.pet.Kind" />
            <input type="hidden" name="dob" name="@ViewBag.pet.DOB" />
            <input type="hidden" name="sex" name="@ViewBag.pet.Sex" />*@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <p>@Html.DisplayNameFor(model => model.FirstOrDefault().Surname)</p>
                </th>
                <th>
                    <p>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</p>
                </th>
                <th>
                    <p>@Html.DisplayNameFor(model => model.FirstOrDefault().Patronymic)</p>
                </th>
                <th>
                    <p>@Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber)</p>
                </th>
                 <th>
                    <p>@Html.DisplayNameFor(model => model.FirstOrDefault().Address)</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Owner item in Model)
            {
                <tr>
                    <td>
                        <p>@item.Surname</p>
                    </td>
                    <td>
                        <p>@item.Name</p>
                    </td>
                    <td>
                        <p>@item.Patronymic</p>
                    </td>
                    <td>
                        <p>@item.PhoneNumber</p>
                    </td>
                    <td>
                        <p>@item.Address</p>
                    </td>
                    <td>
                        <form asp-controller="Passport" asp-action="PassportCreateNext"
                        asp-route-name="@ViewBag.pet.Name"
                        asp-route-breed="@ViewBag.pet.Breed"
                        asp-route-kind="@ViewBag.pet.Kind"
                        asp-route-dob="@ViewBag.pet.DOB"
                        asp-route-sex="@ViewBag.pet.Sex"
                        asp-route-ownerId="@item.Id" >
                            <button class="btn btn-outline-secondary">Выбрать владельца</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="PassportCreateNext"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-outline-secondary @prevDisabled">
        Пред
    </a>
    <a asp-action="PassportCreateNext"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-outline-secondary @nextDisabled">
        След
    </a>