@model Pagination<Passport>

@{
    ViewBag.Title = "Паспорт";
}

<form asp-action="PassportRead" method="get">
    <div class="form-actions no-color surname-box">
        
            <b>Фамилия:</b> <input type="text" name="SearchString" class="search-input" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Поиск" class="btn btn-outline-secondary" /> |

            <a asp-action="PassportRead" class="btn btn-outline-secondary field-btn">
                Обратно к списку
            </a>
           
        
    </div>
</form>

<a asp-action="PassportCreate" class="btn btn-outline-secondary button-add create-btn">Создать новый паспорт</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <p>@Html.DisplayNameFor(model => model.FirstOrDefault().PetId)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.FirstOrDefault().OwnerId)</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Passport item in Model)
        {
            <tr>
                <td>
                    <p>@item.Pet.Name @item.Pet.Breed</p>
                </td>
                <td>
                    <p>@item.Owner.Surname @item.Owner.Name @item.Owner.Patronymic</p>
                </td>
                <td class="field-buttons">
                    <a class="btn btn-outline-secondary field-btn" asp-controller="Passport" asp-action="PassportDetail" asp-route-id="@item.Id">Подробнее</a>
                    <form asp-controller="Passport" asp-action="PassportDelete" asp-route-id="@item.Id">
                        <button class="btn btn-outline-danger field-btn">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="PassportRead"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-secondary @prevDisabled">
    Пред
</a>
<a asp-action="PassportRead"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-secondary @nextDisabled">
    След
</a>