@model VeterinaryPassport.Models.Passport

@{
    ViewBag.Title = "Паспорт";
}

<div class="details-main">
    <div>
        <h1>Питомец</h1>
        <img src="~/img/@Model.Pet.ImageName" alt="" height=100 width=200 />
        <p><b>Кличка:</b> @Model.Pet.Name</p>
        <p><b>Вид:</b> @Model.Pet.Kind</p>
        <p><b>Пол:</b> @Model.Pet.Sex</p>
        <p><b>Порода:</b> @Model.Pet.Breed</p>
        <p><b>Дата рождения:</b> @Model.Pet.DOB.ToString("dd/MM/yyyy")</p>
        <h1>Владелец</h1>
        <p><b>Владелец:</b>  @Model.Owner.Surname @Model.Owner.Name @Model.Owner.Patronymic</p>
        <p><b>Телефон:</b> @Model.Owner.PhoneNumber</p>
        <p><b>Адрес:</b> @Model.Owner.Address</p>
    </div>
      <a class="btn btn-outline-secondary" asp-controller="Vaccine" asp-action="VaccineRead" asp-route-id="@Model.Id">Прививки</a>
</div>
</div>