@model VeterinaryPassport.Models.Passport

@{
    ViewBag.Title = "Паспорт";
}

<div class="details-main">
    @*<div>*@
    <div class="pet-details">
        <p class="details-title">Питомец</p>
        <div class="pet-details-inner">
            <div>
                <img src="~/img/@Model.Pet.ImageName" class="pet-img-details" alt="Фото питомца" height=100 width=200 />
            </div>
            <div>
                <p><b>Кличка:</b> @Model.Pet.Name</p>
                <p><b>Вид:</b> @Model.Pet.Kind</p>
                <p><b>Пол:</b> @Model.Pet.Sex</p>
                <p><b>Порода:</b> @Model.Pet.Breed</p>
                <p><b>Дата рождения:</b> @Model.Pet.DOB.ToString("dd/MM/yyyy")</p>
               <a class="btn btn-outline-secondary details-btn" asp-controller="Vaccine" asp-action="VaccineRead" asp-route-id="@Model.Id">Прививки</a>
            </div>
             
        </div>

    </div>

    <div class="owner-details">
        <p class="details-title">Владелец</p>
        <p><b>Владелец:</b>  @Model.Owner.Surname @Model.Owner.Name @Model.Owner.Patronymic</p>
        <p><b>Телефон:</b> @Model.Owner.PhoneNumber</p>
        <p><b>Адрес:</b> @Model.Owner.Address</p>
    </div>


    @*  </div>*@

</div>
</div>